<ng-container [ngSwitch]="returnCode" class="mt-3">
    <h2 class="text-center text-white" *ngIf="returnCode === 0 || myPendingOrders.length != 0">Mes commandes en attente</h2>
    <div class="custom-container" >
        <table>
            <tbody>
              <tr *ngFor="let order of myPendingOrders" class="border">
                <td data-label="Date de début">{{ order?.startDate | date }}</td>
                <td data-label="Date de fin"  >{{ order?.endDate   | date }}</td>
                <td data-label="Matériel commandé">
                    <div *ngFor="let items of order.orderedItems">
                      <p class="item-color">{{ items?.item?.name }}</p>
                    </div>
                </td>
                
                <td data-label="Action">
                  <button type="button" mat-raised-button color="accent" class="mx-1 button-size" data-bs-toggle="modal" data-bs-target="#myModal1" (click)="getOrderById(order.id)">Consulter</button>
                  <button type="button" mat-raised-button color="warn"  (click)="openRemovalDialog(order)">Annuler</button>
                </td>
                
              </tr>
            </tbody>
          </table>
    </div>

    
    <!-- Consulting modal -->
    <ng-container *ngIf="ordered">
        <div class="modal fade text-white" id="myModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">N° de commande : {{ ordered.id }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div>        
                    <p>De {{ ordered!.startDate | date }} à {{ ordered.endDate | date }}</p>
                </div>
                <hr>
                <div>
                    <p *ngIf="ordered.event">Pour l'événement: {{ ordered.event }}</p>
                </div>
                <hr>
                <div>        
                    <p *ngIf="ordered.address">Adresse: <br>
                    <span>{{ ordered.address.streetNumber }}</span><br>
                    <span>{{ ordered.address.street }}</span><br>
                    <span>{{ ordered.address.addressDetails }}</span><br>
                    <span>{{ ordered.address.postalCode }}</span><br>
                    <span>{{ ordered.address.city }}</span><br>
                    <span>{{ ordered.address.country?.name }}</span><br>
                    </p>
                </div>
                <hr>
                <div *ngFor="let item of ordered.orderedItems">
                    <p>N° équipement : <span class="underline">{{ item.item?.id }}</span></p> 
                    <p>Nom : <span class="item-color">{{ item.item?.name }}</span></p> 
                    <p *ngIf="item.item?.description  != undefined">Description : <span class="item-color">{{ item.item!.description }}</span></p>
                    <p *ngIf="item.item?.serialNumber != undefined">Numéro de série : <span class="item-color">{{ item.item!.serialNumber }}</span></p> 
                    <p *ngIf="item.item?.pricePerDay  != undefined">Prix journalier : <span class="underline">{{ item.item!.pricePerDay }}</span> €</p>
                    <p *ngIf="item.item?.quantity     != undefined">Quantité :        <span class="underline">{{ item.item!.quantity }}</span></p>
                    <hr>
                </div>
                
                </div>
                <div class="modal-footer">
                <button type="button" mat-stroked-button color="basic" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
            </div>
        </div>
    </ng-container>
    <div *ngSwitchCase="404" class="mx-auto text-center">
        <h2 class="text-center text-white">Il n'y a pas de commandes en attente</h2>
        <a mat-raised-button color="accent"  routerLink="/home">Retourner à l'accueil</a>
      </div>
    
      <div *ngSwitchCase="500">
        <h2 class="text-center text-white">Une erreur s'est produite</h2>
      </div>
</ng-container>