<!-- App component html page contains immovable elements (elements that'll be on every page) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="/home"><img src="../assets/images/logo-mns.svg"></a>
        
        <!-- TODO make a shopping cart icon from angular material (this one does not work) -->
        <a class="ms-auto shopping_cart" routerLink="shopping-cart">
            <mat-icon color="primary" *ngIf="connectedUser != null">shopping_cart</mat-icon>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
<!-- TODO: add a category link for admins -->
<!-- TODO: add a user creation link for admins -->
<!-- TODO: create a user profile compornent -->

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="connectedUser != null">
                    <a class="nav-link" routerLink="home" routerLinkActive="active">Acceuil</a>
                </li>
                <li class="nav-item" *ngIf="connectedUser != null">
                    <a class="nav-link" routerLink="equipement" routerLinkActive="active">Matériel</a>
                </li>
                <li class="nav-item" *ngIf="connectedUser != null">
                    <a class="nav-link" routerLink="orders" routerLinkActive="active">Commandes</a>
                </li>
                <li class="nav-item" *ngIf="connectedUser != null">
                    <a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a>
                </li>
                <li class="nav-item" *ngIf="connectedUser == null">
                    <a class="nav-link" routerLink="login" routerLinkActive="active">Connexion</a>
                </li>
                <li class="nav-item" *ngIf="connectedUser != null">
                    <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>
