<ng-container [ngSwitch]="errorCode">

    <form *ngIf="errorCode === 0" [formGroup]="searchFormGroup"
    (ngSubmit)="onSubmitSearchFormGroup()">
        <mat-form-field>
            <mat-label>Cherchez</mat-label>
            <input matInput formControlName="searchQuery" placeholder="Ex. Dupont...">
            
        </mat-form-field>
        <button mat-raised-button color="accent" class="mx-1" >Cherchez</button>
    </form>
            
    <div class="custom-container mt-5">
        <table>
            <tbody>
                <tr *ngFor="let order of userOrders" class="border">
                    <td data-label="Email"           >{{ order.user?.email }}</td>
                    <td data-label="Date de début"   >{{ order.startDate | date }}</td>
                    <td data-label="Date de fin"     >{{ order.endDate   | date }}</td>
                    <td data-label="Commande validée">{{ order.request?.approved && order.request?.re ? "Validée" : "Refusée" }}</td>
                    <td data-label="Matériel commandé">
                        <div *ngFor="let items of order.orderedItems">
                        <p class="item-color">{{ items.item?.name }}</p>
                        </div>
                    </td>
                    <td data-label="Action">
                        <button  mat-raised-button color="accent" class="mx-1 button-size" data-bs-toggle="modal" data-bs-target="#myModal7" (click)="getOrderById(order.id!)">Consulter</button>
                        <button  mat-raised-button color="warn"  (click)="openRemovalDialog(order)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
            </table>
    </div>

    <div *ngSwitchCase="404" class="mx-auto text-center">
        <h2 class="text-center text-white">Il n'y a pas de commandes</h2>
    </div>

    <div *ngSwitchCase="500">
        <h2 class="text-center text-white">Une erreur s'est produite</h2>
    </div>

    <!-- <h2 class="text-center text-white" *ngIf="myPendingOrders.length === 0 && returnCode === 0">Il n'y a pas de commandes</h2> -->

</ng-container>
